html{
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body{
  margin: 0;
  padding: 0;
  
}


/* Add a black background color to the top navigation */
.topnav {
  overflow: hidden;
  padding-left: 20px;
  margin: 0;
  margin-bottom: 20px;
  border-bottom: 1px solid #eae7e7;
  display: flex;
  gap: 5rem;
}

.logo-c{
  display: flex;
  align-items: center;
  margin-left: 40px;
}
.logo{
  height: 60px;
  border-radius: 30px;
}

header{
  height: 70px;
}
  
  /* Style the links inside the navigation bar */
  .topnav-links{
    display: flex;
  }
  .topnav a {
    color: HEX
    #17202A 
   RGB
    23, 32, 42 
   HSL
    210, 29%, 13%;
    text-align: center;
    padding: 20px 25px;
    text-decoration: black;
    font-size: 25px;
  font-weight: 300;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #e6f119;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
   background-color: yellow;
    color: black;
  }
  * {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  
 /* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}


/* Next and previous buttons 
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
*/
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/*
  .prev,
  .next {
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  */
  
  .text {
    color: white;
    font-size: 24px;
    padding: 8px 12px;
    position: absolute;
    bottom: 30px;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
  }
  
  .main{
    width: 95%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto;
     background-color: #0a126c;
  }

  .row{
    margin-top: 20px;
   
  }

  .main-title{
    font-size: large;
    text-align: center;
  }
  
      .flip-card {
        background-color: transparent;
        width: 100%;
        perspective: 1000px;
      }
      
      .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.6s;
        transform-style: preserve-3d;
      }
      
      .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
      }
      
      .flip-card-front,
      .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
      }
      
      .flip-card-front {
        color: black;
        border-radius: 4px;
        overflow: hidden;
      }

      .flip-card-front img{
        height: 280px !important;
        width: 100% !important;
        border-radius: 4px;
      }
      
      .flip-card-back {
        background-color: #2980b9;
        color: white;
        transform: rotateY(180deg);
      }
      
      h2 {
        font-size: 28px;
        margin-top: 10px;
        margin-bottom: 20px;
      }
      
      p {
        font-size: 18px;
        margin-top: 10px;
        margin-bottom: 10px;
      }
      




  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
  }
  /*
  .container img {
    width: calc((100% / 3) - 10px);
    height: auto;
    margin-bottom: 20px;
    object-fit: cover;
    box-sizing: border-box;
    border: 5px solid white;
  }
  */
  * {box-sizing: border-box;}
  body {font-family: Verdana, sans-serif;}
  img {vertical-align: middle;}
  
  /* Slideshow container */
  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #837b7b;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  
  .active {
    background-color: #14213d;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .text {font-size: 11px}
  }

  /* flipcard */
  
  .flip-card {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  /* form styles */
form {
  max-width: 600px;
  padding: 3px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

/* form section styles */
.title {
  margin-bottom: 20px;
  text-align: center;
}

.half {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.full {
  margin-bottom: 20px;
}

.item {
  flex-basis: 48%;
}

/* form input styles */
label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 100%;
  font-size: 16px;
}

textarea {
  height: 150px;
}
.Kim{
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin-top: 20px;  
  border-radius: 5px;
}
   .btn {
    background-color: white;
    border: 1px solid black;
    color: black;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .btn.clicked {
    background-color: yellow;
  }
  
  * {box-sizing:border-box}/* Slideshow container */
  .slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
    width: 100%;
   }/* Hide the images by default */
  .mySlides {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }/* Next & previous buttons */
  /*
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }/* Caption text */

  .numbertext {
    color: #F2F2F2
  ;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }/* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 4px;
    background-color: rgb(139, 136, 136);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  .dot.active, .dot:hover {
    background-color: white
  ;
  }/* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
input[type="submit"],
input[type="reset"] {
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
  margin-right: 10px;
  background-color: #1D4ED8;	
  border-radius: 8px;
  transition: background-color ease-in .1s;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
  background-color: #1E40AF;	
}

/* form validation styles */
input:required,
textarea:required {
  border: 0;
  outline: 1px solid rgba(0, 0, 0, 0.3);
}

input:required:focus,
textarea:required:focus {
  outline: 2px solid #1D4ED8;
  transition: outline ease-in .2s;
}

input:invalid,
textarea:invalid {
  box-shadow: none;
}

input[type="submit"]:disabled,
input[type="reset"]:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

footer {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 10px;
  margin-top: 40px;
  padding-bottom: 10px;
  width: 100%;
  text-align: center;
  font-size: 12px;
}
footer span{
  font-size: 12px;
}

.slider-grid {
  display: grid;
  place-items: center;
}

.slider {
  position: relative;
  width: 100%;
  height: 350px;
  max-width: 900px;
  border-radius: 10px;
  overflow: hidden;
}


.slide {
  width: 100%;
  max-width: 900px;
  height: 350px;
  position: absolute;
  transition: all 0.5s;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(50%);
}

.prev,
.next {
  position: absolute;
  width: 40px;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 50%;
  z-index: 10px;
  cursor: pointer;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  z-index: 15;
}

.prev:active,
.next:active {
  transform: scale(1.1);
}

.prev {
  top: 45%;
  left: 2%;
}

.next {
  top: 45%;
  right: 2%;
}

.dots {
  position: absolute;
  bottom: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 15;
}

.socials{
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-bottom: 10px;
}

.review-cards {
  padding-top: 30px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
  gap: 3%;
}

.review-card {
  width: 30%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  height: 120px;
  gap: 10px;
  transition: all 0.3s ease-in;
  position: relative;
}
.review-delete{
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: white;
  z-index: 100;
  border-radius: 50%;
  cursor: pointer;
  height: 24px;
  width: 24px;
}
.review-delete:hover{
  fill: rgb(228, 27, 27);
  transition: fill ease-in 0.3s;
}
.review-card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.review-card p {
  margin: 0;
}

.review-text {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.review-name {
  font-weight: 700;
}

.review-message {
  font-size: 15px;
}